<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">GreenFit AI is an open-source, data-centered and AI-powered application that helps you navigate the dangerous waters of environmental sustainability in sport fashion: either you are a user, a clothing brand or a developer, we've got you covered!</p>
                <a href="https://github.com/AstraBert/greenfit-ai" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
