<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-pagelines wow bounceIn text-primary"></i>
                    <h3>Reliable sustainability</h3>
                    <p class="text-muted">Discover the environmental impact of sports clothing, in a easy and reliable way</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-code wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>AI powered</h3>
                    <p class="text-muted">AI handles your searches, evaluates product sustainability and creates summaries for you!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-bolt wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Lightining fast responses</h3>
                    <p class="text-muted">Get your results in less than a minute</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-database wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Data-driven and data-centered</h3>
                    <p class="text-muted">We accurately selected data for RAG and are continuously updating them! Powered by <a href="https://qdrant.tech">Qdrant</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
